# Tarea Grupo 2

Volver a√±o 2004 NaN

los meses 4 y 9 como NaT

ORDARDATE si esta como datatime pasarlo a Object

Guardar data como csv

In [ ]:
import pandas as pd
filename = "/content/Grupo2.csv"
df = pd.read_csv(filename,encoding="windows-1254")
df.head()

In [ ]:
df.columns

In [ ]:
import numpy as np
#ME lo deja como cadeana
#df.loc[df.YEAR_ID==2004,'YEAR_ID']='NaN'
#df['YEAR_ID'].value_counts()
df.loc[df["YEAR_ID"]==2004, "YEAR_ID"] = np.nan
df

In [ ]:
df.loc[df["MONTH_ID"]==4, "MONTH_ID"] = pd.NaT
df["MONTH_ID"].value_counts()

In [ ]:
df.loc[df["MONTH_ID"]==9, "MONTH_ID"] = pd.NaT
df["MONTH_ID"].value_counts()

In [ ]:
df.to_csv(path_or_buf='Clase10.csv',index = False)

In [ ]:
filename = "/content/cornvalues.csv"
df = pd.read_csv(filename,encoding="windows-1254")
df.head(25)

# CAMBIAR VALOR DE LOS DATOS SEGUN POSICION

In [ ]:
#algo asi
df["Year"][11:23]=1993
df["Year"][11:23]
df.head(20)

In [ ]:
df["Year"][95:107]
df["Year"][95:107]=2000
df.head(107)

In [ ]:
#Falta septiembre y febrero
#for i in df["Year"]:
  #if df["Month"]==np.nan:


# cada 12 meses es feberero iniciando desde el 0
for i in range(0,len(df["Month"]),12):
  df["Month"][i]="Feb"

for j in range(7,len(df["Month"]),12):
  df["Month"][j]="Sep"
#df["Year"][95:107]=2000