# Instrucciones:
1. limpieza
2. preprocesamiento:
- info del data frame
- describe del dataframe
- nulos
- duplicados
- balance de clases
3. tratamiento:
- como trato los nulos? (eliminar,reemplazar)
- cambiar nombres de columnas de ser necesario
- cambiar valores de datos
- Describe ya limpio 
4. visualización (minimo 2 gráficos)
5. las metricas

Importar librerias

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Cargar data

In [ ]:
filename = "/content/StudentsPerformance.csv"
df = pd.read_csv(filename)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Mostrar info y datos estadisitcos data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

Verificar datos nulos y duplicados 


1.   No existen ni datos nulos, ni duplicados

In [ ]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [ ]:
df.duplicated().sum()

0

Ver si esta balanceado la data



1.   Esta columna se utilizara luego para predecir y calcular la matriz de confusion
2. Se podria decir que esta mas o menos balanceada

In [ ]:
df["test preparation course"].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64

Primeras conclusiones del preprocesamiento

No hay presencia de nulos

No hay duplicados

No se realizaran reemplazos 

Las columnas son sencillas de llamar y manejar

In [ ]:
df.groupby['race/ethnicity']

Creo 2 filtros, 1 para mujeres y otro para hombres

In [ ]:
male=(df["gender"]=="male")
male=df[male]
male.head()

male.groupby("gender")["math score","reading score","writing score"].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

        math score  reading score  writing score
gender
male     68.728216      65.473029      63.311203

In [ ]:
female=(df["gender"]=="female")
female=df[female]
female.head()

female.groupby("gender")["math score","reading score","writing score"].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181